In [42]:
ma_liste = [1,2,3,4,5,6,7,8, "Bonsoir monsieur", 10.5]

In [23]:
ma_liste

[1, 2, 3, 4, 5, 6, 7, 8, 'Bonsoir monsieur', 10.5]

In [24]:
ma_liste[:5] # return les 5 premières valeurs

[1, 2, 3, 4, 5]

In [25]:
ma_liste[1:-4] # return la 1ère valeur et les 4 dernière valeurs

[2, 3, 4, 5, 6]

In [26]:
ma_liste[::2] # return toutes les valeurs de l'INDEX pair (0, 2, 4, 6, ...)

[1, 3, 5, 7, 'Bonsoir monsieur']

In [27]:
ma_liste[1::2] # return toutes les valeurs de l'INDEX impair (1, 3, 5, 7, ...)

[2, 4, 6, 8, 10.5]

In [43]:
ma_liste.append("tdb") # ajoute un élément à la fin de la liste
ma_liste

[1, 2, 3, 4, 5, 6, 7, 8, 'Bonsoir monsieur', 10.5, 'tdb']

In [44]:
ma_liste.insert(5, "mdlol") # ajoute un élément à la fin de la liste
ma_liste

[1, 2, 3, 4, 5, 'mdlol', 6, 7, 8, 'Bonsoir monsieur', 10.5, 'tdb']

In [45]:
ma_liste[2] = "vin" # modifie un élélement a l'index 2
ma_liste

[1, 2, 'vin', 4, 5, 'mdlol', 6, 7, 8, 'Bonsoir monsieur', 10.5, 'tdb']

In [46]:
del ma_liste[0]
ma_liste

[2, 'vin', 4, 5, 'mdlol', 6, 7, 8, 'Bonsoir monsieur', 10.5, 'tdb']

In [1]:
ma_liste2 = [53,78,96,321,45,98,41,3,78]
sum(ma_liste2) # return la somme de ma liste

813

In [2]:
import numpy
numpy.mean(ma_liste2) # return la moyenne de ma liste

90.33333333333333

In [60]:
len(ma_liste2) # return la taille de ma liste

9

In [61]:
ma_liste2.count(78) # return combien de fois 78 est dans la liste

2

In [63]:
ma_liste2.sort() # trie ma liste dans l'ordre croissant
ma_liste2

[3, 41, 45, 53, 78, 78, 96, 98, 321]

In [66]:
ma_liste2.reverse() # inverse la liste
ma_liste2

[321, 98, 96, 78, 78, 53, 45, 41, 3]

In [67]:
min(ma_liste2) # return le minimum de ma liste

3

In [68]:
max(ma_liste2) # return le maximum de ma liste

321